<style></style>

<div class="content" role="main">
  <router-outlet></router-outlet>

  <app-temp-component></app-temp-component>
  <app-content></app-content>
  <app-directives></app-directives>
  <h3>2 way data binding</h3>
  <app-content></app-content>
  <app-data-binding></app-data-binding>
  <h3>Ng Content</h3>
  <app-ngcontent>
    <h4>title from app component</h4>
    <p>paragraph from app component</p>
  </app-ngcontent>
  <app-lifecycle></app-lifecycle>
  <app-pipes></app-pipes>
  <h3>Tailwind CSS</h3>
  <app-tailwind></app-tailwind>
  <h3>Forms</h3>
  <app-register></app-register>
</div>
