<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div>
    <label for="name">Name</label>
    <input type="text" formControlName="name" />

    <!-- <p
      *ngIf=" registerForm.controls['name'].errors?.['minlength']"
      class="text-red-500"
      >
      Min {{registerForm.controls['name'].errors?.['minlength'].actualLength}}
    </p> -->
    <span
      *ngIf="registerForm.get('name')?.errors?.['minlength']"
      class="text-red-500"
    >
      {{ registerForm.get('name')?.errors?.['minlength'].actualLength }}
    </span>
    <!-- <span *ngIf="registerForm.get('name')?.touched" class="text-red-500"
      >touched</span
    > -->
  </div>
  <!-- <p>{{ registerForm.controls["name"]?.errors | json }}</p> -->
  <div>
    <label for="email">Email</label>
    <input type="email" formControlName="email" />
    <!-- <p>{{ registerForm.controls["email"]?.errors | json }}</p> -->
  </div>
  <button type="submit">Submit</button>
</form>
